html,
body {
    background: #ffe6e6;
    overflow: hidden;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    color: red;
    -webkit-app-region: no-drag;
}

.row{
    cursor:pointer;
}

div.arrange {
    padding:0.5cm 1cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}